<h2>Enter the movie details here</h2>
<%= simple_form_for @movie do |x| %>
	<%= x.input :movie %>
	<br />
	<%= x.input :actors %>
	<br />
	<%= x.input :director %>
	<br />
	<%= x.input :description %>
	<br /> <br />
	<%= x.submit 'Create', :class => "btn btn-success" %>
<% end %>
