<!DOCTYPE html>
<html>
<head>
  <title>Screenplay</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="col-xs-1">
			<div class="rectangle">
				<h4 class="logo-title">Movies<h4>
			</div>
		</div>
		<div class="col-xs-6 description">
			Add movies here whether the movie was great or awful or in-between!
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Add Movies Here', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>

	<hr />
	<br class="clear" />

	<div class="container">	
		<%= yield %>
	</div>

	<div class="footer">
    	<div class="container">
    		<div class="col-xs-6">
    			<%= link_to "This is a great website to read about movies!", "#", :class => "footer-links" %><br />
    			<%= link_to "Another great movie website!", "#", :class => "footer-links" %>
      		</div>
      		<div class="col-xs-6">
      			<p class="text-muted">Website created by Alan<br />
      			&copy; 2015</p>
      		</div>
    	</div>
  	</div>

</body>
</html>
